body {
  background-color: cadetblue;
}

h1,
p {
  text-align: center;
}

footer {
  text-align: center;
  font-size: small;
}

.croissant {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
